<h1>Home#index</h1>
<p><%= @an_hour_ago %></p>

<div id="messages">
  <% @messages.each do |message| %>
    <p>
      <strong>Message: </strong>
      <%= message.message %>
      <strong> By: </strong>
      <%= message.user.email %>
      <strong> At: </strong>
      <%= message.created_at %>
    </p>
    <p>
      <%= link_to "Show this message", message %> |
      <% unless current_user.nil? %>
        <%= button_to message.likes.any? { |like| like.user_id == current_user.id} ? "Unlike this message" : "Like this message", likes_path(:message_id => message.id), method: :post, remote: true %> |
        <% if message.user == current_user %>
          <%=  link_to "Edit this message", edit_message_path(message)  %>
        <% end %>
      <% end %>
    </p>
    <% message.likes.each do |like| %>
      <p><%= like.inspect %></p>
    <% end %>
  <% end %>
</div>
