<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div id="messages">
  <% @messages.each do |message| %>
    <p>
      <strong>Message: </strong>
      <%= message.message %>
      <strong> By: </strong>
      <%= message.user.email %>
      <strong> At: </strong>
      <%= message.created_at %>
    </p>
    <p>
      <%= link_to "Show this message", message %> |
      <% if message.user == current_user %>
        <%=  link_to "Edit this message", edit_message_path(message)  %>
      <% end %>
    </p>
  <% end %>
</div>
